

{% set page_title = 'About | talenthomeloans' %}
{% extends "../components/base.twig" %}

{% block content %}
<div class="wrapper-about">
  {% include "../components/about.twig" %}
</div>
{% endblock %}