

{% set page_title = 'About | talenthomeloans' %}
{% extends "../components/base.twig" %}

{% block content %}
<main class="wapper-main">
    {% include "../components/header.twig" %}
    <div class="wrapper-about">
    {% include "../components/about.twig" %}
    {% include "../components/home/home5.twig" %}
  </div>
</main>
{% endblock %}