

{% set page_title = 'Contact | talenthomeloans' %}
{% extends "../components/base.twig" %}

{% block content %}
<div class="wrapper-contact">
  {% include "../components/contact.twig" %}
</div>
{% endblock %}