

{% set page_title = 'Contact | talenthomeloans' %}
{% extends "../components/base.twig" %}

{% block content %}

<main class="wapper-main">
    {% include "../components/header.twig" %}
    <div class="wrapper-contact">
      {% include "../components/contact.twig" %}
    </div>
</main>
{% endblock %}