
{% set page_title = 'Home Loan' %}
{% extends "../components/base.twig" %}

{% block content %}
<div class="wrapper-home">
     <h1 class="text-3xl font-bold underline">
      Hello world!
    </h1>
</div>
{% endblock %}