
{% set page_title = 'Home Loan' %}
{% extends "../components/base.twig" %}

{% block content %}
<div class="wrapper-home">
  {% include "../components/home/home1.twig" %}
  {% include "../components/home/home2.twig" %}
  {% include "../components/home/home3.twig" %}
</div>
{% endblock %}