
{% set page_title = 'Refinance | talenthomeloans' %}
{% extends "../components/base.twig" %}

{% block content %}
<main class="wapper-main refinance-page">
    {% include "../components/header.twig" %}
    <div class="wrapper-refinance">
      {% include "../components/refinance.twig" %}
    </div>
</main>
{% endblock %}