
{% set page_title = 'Refinance | talenthomeloans' %}
{% extends "../components/base.twig" %}

{% block content %}
<div class="wrapper-refinance">
  {% include "../components/refinance.twig" %}
</div>
{% endblock %}