<div class="home5">
    <div class="container">
        <div class="home5__wrap">
            <h1 class="home5__title page-title">Need more details? Contact us</h1>
            <h2 class="home5__sub-title">We are here to assist 24/7. Contact us by phone, email</h2>
            <a href="/" class="btn">Contact Us</a>
        </div>
    </div>
</div>
