<div class="home2">
    <div class="container">
        <div class="home2__wrap ">
            <div class="home2__left ">
                <h1 class="home2__title page-title">Looking to buy or refinance your home loan?</h1>
                <h2 class="home2__sub-title">Get free help from an Aussie Broker*</h2>
                <div class="home2__btns">
                    <a href="/refinance" class="home2__btn btn">Refinance</a>
                    <a href="/" class="home2__btn btn">Budget</a>
                </div>
            </div>
            <div class="home2__right ">
                <img class="w-full" src="https://www.aussie.com.au/_next/image/?url=https%3A%2F%2Fimages.ctfassets.net%2Fnbklqgdg5mdx%2F3fwRDrpZWwPUABhjk5P3bH%2F74a454238ce407fa33a97d18948e30c0%2Fcouple-dog-living-room.jpeg&w=1920&q=75" alt="">
            </div>
        </div>
    </div>
</div>
