<div class="home3">
    <div class="container">
        <div class="home3__wrap ">
            <h1 class="home3__title page-title">Some of our major lenders</h1>
            <div class="home3__logos">
                {% for i in 1..21 %}
                <img src="images/client/logo-{{i}}.png" alt="SOME OF OUR MAJOR LENDERS">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
