<div class="home4">
    <div class="container">
        <div class="home4__wrap ">
            <h1 class="home4__title ">WHAT PEOPLE SAY</h1>
            <div class="home4__logos">
                {% for i in 1..21 %}
                <img src="images/client/logo-{{i}}.png" alt="SOME OF OUR MAJOR LENDERS">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
