<div class="about">
    <div class="container">
        <div class="about__wrap">
            <div class="about__item">
                <div class="about__left">
                    <div class="img">
                        <img class="w-full" src="https://static.wixstatic.com/media/c63747_718a6681a4234bfd8cfe3de3da34abad~mv2.png/v1/fill/w_96,h_108,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/PL2%EF%BC%88%E5%9C%86%E5%BD%A2%E9%80%8F%E6%98%8E%EF%BC%89.png" alt="">
                    </div>
                </div>
                <div class="about__right">
                    <h2 class="name text-md font-bold">Paul Liao - Senior Lending Specialist</h2>
                    <div class="text text-base">
                        <p>B. Commerce, Dip. Finance and Mortgage Broking</p>
                        <p>Chatswood office</p>
                        <p>M: 0402 734 193</p>
                        <p>E: Paul.Liao@TalentHomeLoans.com.au</p>
                        <div>
                            <a class="link" href="https://www.linkedin.com/in/paul-liao-ab687540?trk=nav_responsive_tab_profile">
                                <img src="images/linked.png" alt="Paul Liao - Senior Lending Specialist">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__item reverse">
                <div class="about__left">
                    <div class="img">
                        <img class="w-full" src="https://static.wixstatic.com/media/c63747_6426af01f9884a1d8989c6456fd6b279~mv2.jpg/v1/fill/w_95,h_108,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Phong.jpg" alt="">
                    </div>
                </div>
                <div class="about__right">
                    <h2 class="name">Duy Phong Trieu - Senior Lending Specialist / Accredited Mentor at MFAA</h2>
                    <div class="text">
                        <p>M. Finance & B. Economic and Finance, Dip. Finance and Mortgage Broking</p>
                        <p>Fairfield office</p>
                        <p>M: 0434 063 763</p>
                        <p>E: Phong.T@TalentHomeLoans.com.au</p>
                        <div>
                            <a class="link" href="https://au.linkedin.com/in/duy-phong-erion-trieu-184286a8">
                                <img src="images/linked.png" alt="Duy Phong Trieu - Senior Lending Specialist / Accredited Mentor at MFAA">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__item">
                <div class="about__left">
                    <div class="img">
                        <img class="w-full" src="https://static.wixstatic.com/media/c63747_6485443e54dd450884583a014ce3215c~mv2.png/v1/crop/x_20,y_12,w_215,h_224/fill/w_101,h_108,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1_PNG.png" alt="">
                    </div>
                </div>
                <div class="about__right">
                    <h2 class="name text-md font-bold">Jenny Huang - Senior Lending Specialist</h2>
                    <div class="text text-base">
                        <p>B. Accounting & Dip. Finance and Mortgage Broking</p>
                        <p>Sydney office</p>
                        <p>M: 0481 001 557</p>
                        <p>E: Jenny.Huang@TalentHomeLoans.com.au</p>
                        <div>
                            <a class="link" href="https://www.linkedin.com/in/jenny-huang-5ba997102/?originalSubdomain=au">
                                <img src="images/linked.png" alt="Paul Liao - Senior Lending Specialist">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__item reverse">
                <div class="about__left">
                    <div class="img">
                        <img class="w-full" src="https://static.wixstatic.com/media/c63747_588e623da7234dba8f2a44f29d97d735~mv2_d_2858_2330_s_2.jpg/v1/crop/x_0,y_27,w_2858,h_2248/fill/w_101,h_94,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1_JPG.jpg" alt="">
                    </div>
                </div>
                <div class="about__right">
                    <h2 class="name">Vicky Wang - Senior Lending Specialist</h2>
                    <div class="text">
                        <p>B. Business Informatics & Dip. Finance and Mortgage Broking</p>
                        <p>Sydney office</p>
                        <p>M: 0402 373 766</p>
                        <p>E: vicky.wang@TalentHomeLoans.com.au</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
