<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    <meta name="description" content="xxxxx">
    <meta name="keywords" content="xxxx">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="xxxxx">
  </head>
  <body>
     <main class="wapper-main">
        {% include "./header.twig" %}
        {% block content %}{% endblock %}
        {% include "./footer.twig" %}
    </main>
  </body>
</html>