<header class="header my-[1rem]">
    <div class="container">
        <div class="flex items-center">
            <a href="/" class="logo max-w-[8rem]">
                <img src="./images/logo.jpg" class="w-full" alt="homeloan">
            </a>
            <nav class="nav">
                <ul class="flex">
                    <li class="mx-[1.5rem]">
                        <a href="/" class="hover:underline">Home</a>
                    </li>
                    <li class="mx-[1.5rem]">
                        <a href="/" class="hover:underline">About</a>
                    </li>
                    <li class="mx-[1.5rem]">
                        <a href="/" class="hover:underline">Service</a>
                    </li>
                    <li class="mx-[1.5rem]">
                        <a href="/" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
