<header class="header my-[1rem]">
    <div class="container">
        <div class="header__wrap">
            <a href="/" class="logo ">
                <img src="./images/logo.jpg" class="w-full" alt="homeloan">
            </a>
            <div class="hambuger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="nav">
                <ul class="nav__ul ">
                    <li class="nav__li">
                        <a href="/" class="nav__a ">Home</a>
                    </li>
                    <li class="nav__li">
                        <a href="/about.html" class="nav__a">About</a>
                    </li>
                    <li class="nav__li">
                        <a href="/" class="nav__a">Service</a>
                    </li>
                    <li class="nav__li">
                        <a href="/contact.html" class="nav__a">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
