html,
body {
  // background: $body-background-color;
  // color: $foreground-color;
  // font-family: "DINP-R", arial, serif;
  @apply text-[12px] lg:text-[18px];
  @apply font-regular font-Montserrat;
}
.swiper {
  // height: 300px;
}

.btn {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 1px 3px 0px;

  background-color: rgb(75, 31, 104);
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-out 0s;
  @apply inline-flex justify-center items-center;
  @apply px-[15px] py-[10px];
  @apply cursor-pointer border-0 relative rounded-[50px];
  @apply w-auto min-h-[48px] min-w-[150px];
  &:hover {
    background-color: rgb(99, 52, 130);
    color: rgb(255, 255, 255);
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 12px 17px 2px,
      rgba(0, 0, 0, 0.12) 0px 5px 22px 4px,
      rgba(0, 0, 0, 0.14) 0px 7px 8px 0px;
  }
}
