html,
body {
  // background: $body-background-color;
  // color: $foreground-color;
  // font-family: "DINP-R", arial, serif;
  @apply text-[12px] lg:text-[18px];
  @apply font-regular font-Montserrat;
}
.swiper {
  // height: 300px;
}

.btn {
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-out 0s;
  @apply inline-flex justify-center items-center;
  @apply px-[15px] py-[10px];
  @apply cursor-pointer border-0 relative rounded-[50px];
  @apply w-auto min-h-[35px] lg:min-h-[48px] min-w-[150px];
  @apply bg-yellow hover:bg-yellow-hover;
  &:hover {
    // background-color: rgb(99, 52, 130);
    color: rgb(255, 255, 255);
  }
}
.page-title {
  @apply text-[2.3rem] font-bold;
  @apply mb-[1rem];
}

.loading {
  @apply fixed w-full h-full bg-[#ffffff82] opacity-0 z-[-1];
  @apply top-0 bottom-0 left-0 right-0;
  transition: all 0.3s ease;
  &.active {
    @apply opacity-[1] z-[999];
  }
}

.toast {
  @apply fixed right-[10px] top-[100px] translate-x-[110%];
  @apply flex items-center w-full max-w-[20rem] p-4 space-x-4   bg-white rounded-lg shadow;
  transition: 0.3s ease all;

  svg {
    @apply w-5 h-5 rotate-45;
  }
  .text {
    @apply text-[0.9rem];
  }
  &.active {
    @apply translate-x-0;
  }
  .icon {
    @apply ml-auto #{!important};
  }
}

.form {
  @apply py-[50px];
  h3 {
    @apply text-[30px];
  }
}

.contact {
  @apply bg-[#ededeb];
  .page-title {
    @apply mb-[1.5rem] #{!important};
  }
  form {
    label {
      @apply block;
    }
    input,
    textarea {
      @apply border-[1px] border-[#ddd] rounded-[10px] px-[15px];
      @apply w-full;
      &:focus {
        @apply outline-none;
      }
    }
    textarea {
      @apply resize-none;
    }
    input {
      @apply h-[40px] sm:h-[50px];
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
    button[type="submit"] {
      @apply px-[2rem];
    }
    button[disabled="disabled"] {
      @apply cursor-default opacity-[0.5];
    }
  }
  .form-item {
    @apply flex flex-wrap -mx-3 mb-[15px];
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  @apply text-[25px] sm:text-[40px];
}
